<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.act.dao.ActBalanceMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.account.dto.ActBalanceDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CAL_TIME" property="calTime" jdbcType="TIMESTAMP" />
    <result column="ACCOUNT_DATE" property="accountDate" jdbcType="CHAR" />
    <result column="ZC_AMOUNT" property="zcAmount" jdbcType="DECIMAL" />
    <result column="FZ_AMOUNT" property="fzAmount" jdbcType="DECIMAL" />
    <result column="QY_AMOUNT" property="qyAmount" jdbcType="DECIMAL" />
    <result column="SR_AMOUNT" property="srAmount" jdbcType="DECIMAL" />
    <result column="CB_AMOUNT" property="cbAmount" jdbcType="DECIMAL" />
    <result column="BALANCE_FLAG" property="balanceFlag" jdbcType="CHAR" />
  </resultMap>

  <resultMap id="BaseResultMap2" type="com.ylink.inetpay.common.project.account.dto.ActBillBalanceDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CAL_TIME" property="calTime" jdbcType="TIMESTAMP" />
    <result column="ACCOUNT_DATE" property="accountDate" jdbcType="CHAR" />
    <result column="DR_AMOUNT" property="drAmount" jdbcType="DECIMAL" />
    <result column="CR_AMOUNT" property="crAmount" jdbcType="DECIMAL" />
    <result column="BALANCE_FLAG" property="balanceFlag" jdbcType="CHAR" />
  </resultMap>
 
  <select id="queryBalance" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select *
    from TB_ACT_BALANCE
    where ACCOUNT_DATE = #{accountDate,jdbcType=CHAR}
  </select>
   <select id="queryBillBalance" parameterType="java.lang.String" 
   			resultMap="BaseResultMap2">
   select * from TB_ACT_BILL_BALANCE where ACCOUNT_DATE = #{accountDate,jdbcType=CHAR}
   </select>
</mapper>