<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.chl.dao.TbChlChannelMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CHANNEL_CODE" property="channelCode" jdbcType="CHAR" />
    <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    <result column="CHANNEL_TYPE" property="channelType" jdbcType="CHAR" />
    <result column="OR_CHECK_FILE" property="orCheckFile" jdbcType="CHAR" />
    <result column="BANK_TYPE" property="bankType" jdbcType="CHAR" />
    <result column="IS_CROSS_BANK" property="isCrossBank" jdbcType="CHAR" />
    <result column="SUPPORT_MODE" property="supportMode" jdbcType="CHAR" />
    <result column="ONE_RECORD" property="oneRecord" jdbcType="CHAR" />
    <result column="TIME_FOR_FILE" property="timeForFile" jdbcType="CHAR" />
    <result column="ACCOUNT_ID" property="accountId" jdbcType="VARCHAR" />
    <result column="CHANNEL_STATUS" property="channelStatus" jdbcType="CHAR" />
    <result column="MODIFY_USER" property="modifyUser" jdbcType="VARCHAR" />
    <result column="MODIFY_TIME" property="modifyTime" jdbcType="TIMESTAMP" />
    <result column="IS_RECHARGE" property="isRecharge" jdbcType="CHAR" />
    <result column="IS_WITHDRAW" property="isWithdraw" jdbcType="CHAR" />
    <result column="IS_TRANSFER" property="isTransfer" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="PayStyleResultMap" type="com.ylink.inetpay.common.project.channel.dto.TbChlPayStyle" >
    <result column="CHANNEL_CODE" property="channelCode" jdbcType="CHAR" />
    <result column="BANK_TYPE" property="bankType" jdbcType="CHAR" />
     <result column="BANK_NAME" property="bankName" jdbcType="VARCHAR" />
    <result column="CHANNEL_BANK_CODE" property="channelBankCode" jdbcType="CHAR" />
    <result column="SINGLE_PEN_LIMIT" property="singlePenLimit" jdbcType="DECIMAL" />
    <result column="CHANNEL_TYPE" property="channelType" jdbcType="CHAR" />
    <result column="DC_FLAG" property="dcFlag" jdbcType="CHAR" />
     <result column="PAY_ORDER" property="payOrder" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CHANNEL_CODE, CHANNEL_NAME, CHANNEL_TYPE, OR_CHECK_FILE, BANK_TYPE, IS_CROSS_BANK, 
    SUPPORT_MODE, ONE_RECORD, TIME_FOR_FILE, ACCOUNT_ID, CHANNEL_STATUS, MODIFY_USER, 
    MODIFY_TIME, IS_RECHARGE, IS_WITHDRAW, IS_TRANSFER
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_CHL_CHANNEL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="getChannels" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_CHL_CHANNEL
    where OR_CHECK_FILE = #{orCheckFile,jdbcType=CHAR}
  </select>
  
   <select id="getPayStyle" resultMap="PayStyleResultMap" >
	SELECT
		*
	FROM
		(
			SELECT
				a.CHANNEL_CODE,
				cb.BANK_TYPE,
				right(a.CHANNEL_CODE,2) as CHANNEL_TYPE,
				cb.CHANNEL_BANK_CODE,
				cb.SINGLE_PEN_LIMIT,
				cb.DC_FLAG,
				cr.PAY_ORDER
			FROM
				TB_CHL_CHANNEL a
			LEFT JOIN TB_CHL_CHANNEL_BANK cb ON a.CHANNEL_CODE = cb.CHANNEL_CODE
			LEFT JOIN TB_CHL_CHANNEL_ROUTE cr ON cb.CHANNEL_CODE = cr.CHANNEL_CODE
			WHERE
				a.CHANNEL_STATUS = '1'
			 and cb.ID is not null and cr.id is not null and right(a.CHANNEL_CODE,2) in(01,03,02,05,06,09)
			ORDER BY
				cb.BANK_TYPE ASC, cr.PAY_ORDER ASC
		) t
	GROUP BY
		t.CHANNEL_TYPE,t.BANK_TYPE
  </select>
   <select id="getMobileFastStyle" resultMap="PayStyleResultMap" >
	SELECT
		*
	FROM
		(
			SELECT
				a.CHANNEL_CODE,
				cb.BANK_TYPE,
				(select BANK_NAME from TB_CHL_BANK bank where bank.BANK_TYPE = cb.BANK_TYPE) as BANK_NAME,
				right(a.CHANNEL_CODE,2) as CHANNEL_TYPE,
				cb.CHANNEL_BANK_CODE,
				cb.SINGLE_PEN_LIMIT,
				cb.DC_FLAG,
				cr.PAY_ORDER
			FROM
				TB_CHL_CHANNEL a
			LEFT JOIN TB_CHL_CHANNEL_BANK cb ON a.CHANNEL_CODE = cb.CHANNEL_CODE
			LEFT JOIN TB_CHL_CHANNEL_ROUTE cr ON cb.CHANNEL_CODE = cr.CHANNEL_CODE
			WHERE
				a.CHANNEL_STATUS = '1' and a.CHANNEL_TYPE = '03'
			 and cb.ID is not null and cr.id is not null
			ORDER BY
				cb.BANK_TYPE ASC, cr.PAY_ORDER ASC
		) t
	GROUP BY
		t.CHANNEL_TYPE,t.BANK_TYPE
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CHL_CHANNEL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Nov 12 11:25:23 CST 2016.
    -->
    insert into TB_CHL_CHANNEL (ID, CHANNEL_CODE, CHANNEL_NAME, 
      CHANNEL_TYPE, OR_CHECK_FILE, BANK_TYPE, 
      IS_CROSS_BANK, SUPPORT_MODE, ONE_RECORD, 
      TIME_FOR_FILE, ACCOUNT_ID, CHANNEL_STATUS, 
      MODIFY_USER, MODIFY_TIME, IS_RECHARGE, IS_WITHDRAW, IS_TRANSFER)
    values (#{id,jdbcType=VARCHAR}, #{channelCode,jdbcType=CHAR}, #{channelName,jdbcType=VARCHAR}, 
      #{channelType,jdbcType=CHAR}, #{orCheckFile,jdbcType=CHAR}, #{bankType,jdbcType=CHAR}, 
      #{isCrossBank,jdbcType=CHAR}, #{supportMode,jdbcType=CHAR}, #{oneRecord,jdbcType=CHAR}, 
      #{timeForFile,jdbcType=CHAR}, #{accountId,jdbcType=VARCHAR}, #{channelStatus,jdbcType=CHAR}, 
      #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
      #{isRecharge,jdbcType=CHAR}, #{isWithdraw,jdbcType=CHAR}, #{isTransfer,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Nov 12 11:25:23 CST 2016.
    -->
    insert into TB_CHL_CHANNEL
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="channelCode != null" >
        CHANNEL_CODE,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE,
      </if>
      <if test="orCheckFile != null" >
        OR_CHECK_FILE,
      </if>
      <if test="bankType != null" >
        BANK_TYPE,
      </if>
      <if test="isCrossBank != null" >
        IS_CROSS_BANK,
      </if>
      <if test="supportMode != null" >
        SUPPORT_MODE,
      </if>
      <if test="oneRecord != null" >
        ONE_RECORD,
      </if>
      <if test="timeForFile != null" >
        TIME_FOR_FILE,
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID,
      </if>
      <if test="channelStatus != null" >
        CHANNEL_STATUS,
      </if>
      <if test="modifyUser != null" >
        MODIFY_USER,
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME,
      </if>
      <if test="isRecharge != null" >
        IS_RECHARGE,
      </if>
      <if test="isWithdraw != null" >
        IS_WITHDRAW,
      </if>
      <if test="isTransfer != null" >
        IS_TRANSFER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=CHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=CHAR},
      </if>
      <if test="orCheckFile != null" >
        #{orCheckFile,jdbcType=CHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=CHAR},
      </if>
      <if test="isCrossBank != null" >
        #{isCrossBank,jdbcType=CHAR},
      </if>
      <if test="supportMode != null" >
        #{supportMode,jdbcType=CHAR},
      </if>
      <if test="oneRecord != null" >
        #{oneRecord,jdbcType=CHAR},
      </if>
      <if test="timeForFile != null" >
        #{timeForFile,jdbcType=CHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null" >
        #{channelStatus,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null" >
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecharge != null" >
        #{isRecharge,jdbcType=CHAR},
      </if>
      <if test="isWithdraw != null" >
        #{isWithdraw,jdbcType=CHAR},
      </if>
      <if test="isTransfer != null" >
        #{isTransfer,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    update TB_CHL_CHANNEL
    <set >
      <if test="channelCode != null" >
        CHANNEL_CODE = #{channelCode,jdbcType=CHAR},
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE = #{channelType,jdbcType=CHAR},
      </if>
      <if test="orCheckFile != null" >
        OR_CHECK_FILE = #{orCheckFile,jdbcType=CHAR},
      </if>
      <if test="bankType != null" >
        BANK_TYPE = #{bankType,jdbcType=CHAR},
      </if>
      <if test="isCrossBank != null" >
        IS_CROSS_BANK = #{isCrossBank,jdbcType=CHAR},
      </if>
      <if test="supportMode != null" >
        SUPPORT_MODE = #{supportMode,jdbcType=CHAR},
      </if>
      <if test="oneRecord != null" >
        ONE_RECORD = #{oneRecord,jdbcType=CHAR},
      </if>
      <if test="timeForFile != null" >
        TIME_FOR_FILE = #{timeForFile,jdbcType=CHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null" >
        CHANNEL_STATUS = #{channelStatus,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null" >
        MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecharge != null" >
        IS_RECHARGE = #{isRecharge,jdbcType=CHAR},
      </if>
      <if test="isWithdraw != null" >
        IS_WITHDRAW = #{isWithdraw,jdbcType=CHAR},
      </if>
      <if test="isTransfer != null" >
        IS_TRANSFER = #{isTransfer,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    update TB_CHL_CHANNEL
    set CHANNEL_CODE = #{channelCode,jdbcType=CHAR},
      CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      CHANNEL_TYPE = #{channelType,jdbcType=CHAR},
      OR_CHECK_FILE = #{orCheckFile,jdbcType=CHAR},
      BANK_TYPE = #{bankType,jdbcType=CHAR},
      IS_CROSS_BANK = #{isCrossBank,jdbcType=CHAR},
      SUPPORT_MODE = #{supportMode,jdbcType=CHAR},
      ONE_RECORD = #{oneRecord,jdbcType=CHAR},
      TIME_FOR_FILE = #{timeForFile,jdbcType=CHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      CHANNEL_STATUS = #{channelStatus,jdbcType=CHAR},
      MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
      MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      IS_RECHARGE = #{isRecharge,jdbcType=CHAR},
      IS_WITHDRAW = #{isWithdraw,jdbcType=CHAR},
      IS_TRANSFER = #{isTransfer,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <update id="updateByChannelCode" parameterType="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    update TB_CHL_CHANNEL
    <set >
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        CHANNEL_TYPE = #{channelType,jdbcType=CHAR},
      </if>
      <if test="orCheckFile != null" >
        OR_CHECK_FILE = #{orCheckFile,jdbcType=CHAR},
      </if>
      <if test="bankType != null" >
        BANK_TYPE = #{bankType,jdbcType=CHAR},
      </if>
      <if test="isCrossBank != null" >
        IS_CROSS_BANK = #{isCrossBank,jdbcType=CHAR},
      </if>
      <if test="supportMode != null" >
        SUPPORT_MODE = #{supportMode,jdbcType=CHAR},
      </if>
      <if test="oneRecord != null" >
        ONE_RECORD = #{oneRecord,jdbcType=CHAR},
      </if>
      <if test="timeForFile != null" >
        TIME_FOR_FILE = #{timeForFile,jdbcType=CHAR},
      </if>
      <if test="accountId != null" >
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null" >
        CHANNEL_STATUS = #{channelStatus,jdbcType=CHAR},
      </if>
      <if test="modifyUser != null" >
        MODIFY_USER = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null" >
        MODIFY_TIME = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRecharge != null" >
        IS_RECHARGE = #{isRecharge,jdbcType=CHAR},
      </if>
      <if test="isWithdraw != null" >
        IS_WITHDRAW = #{isWithdraw,jdbcType=CHAR},
      </if>
      <if test="isTransfer != null" >
        IS_TRANSFER = #{isTransfer,jdbcType=CHAR},
      </if>
    </set>
    where CHANNEL_CODE = #{channelCode,jdbcType=CHAR}
  </update>
   <select id="selectByDto" resultMap="BaseResultMap" parameterType="com.ylink.inetpay.common.project.channel.dto.TbChlChannel" >
    select 
    <include refid="Base_Column_List" />
    from TB_CHL_CHANNEL
    where OR_CHECK_FILE = #{orCheckFile,jdbcType=CHAR}
  </select>
  
  <select id="selectByChannelCode" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from TB_CHL_CHANNEL
    where CHANNEL_CODE = #{channelCode,jdbcType=CHAR}
  </select>
  
  <select id="findListPage" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from TB_CHL_CHANNEL
    <where> 1=1
      <if test="channelCode != null and channelCode !=''" >
      	and instr(CHANNEL_CODE, #{channelCode,jdbcType=CHAR}) > 0
        <!-- and CHANNEL_CODE like concat('%',concat(#{channelCode,jdbcType=CHAR},'%')) -->
      </if>
       <if test="chlCode != null and chlCode !=''" >
        and instr(CHANNEL_CODE, #{chlCode,jdbcType=VARCHAR}) > 0
        <!-- and CHANNEL_CODE like concat('%',concat(#{chlCode,jdbcType=VARCHAR},'%')) -->
      </if>
      <if test="channelName != null and channelName !=''" >
        and instr(CHANNEL_NAME, #{channelName,jdbcType=VARCHAR}) > 0
      </if>
        <!-- and CHANNEL_NAME like concat('%',concat(#{channelName,jdbcType=VARCHAR},'%')) -->
      <if test="channelType != null and channelType !=''" >
        and CHANNEL_TYPE = #{channelType,jdbcType=CHAR}
      </if>
      <if test="orCheckFile != null and orCheckFile !=''" >
        and OR_CHECK_FILE = #{orCheckFile,jdbcType=CHAR}
      </if>
      <if test="bankType != null and bankType !=''" >
        and BANK_TYPE = #{bankType,jdbcType=CHAR}
      </if>
      <if test="oneRecord != null and oneRecord !=''" >
       and ONE_RECORD = #{oneRecord,jdbcType=CHAR}
      </if>
      <if test="timeForFile != null" >
        and TIME_FOR_FILE = #{timeForFile,jdbcType=CHAR}
      </if>
      <if test="channelStatus != null and channelStatus !=''" >
        and CHANNEL_STATUS = #{channelStatus,jdbcType=CHAR}
      </if>
      <if test="supportMode != null and supportMode !=''" >
        and SUPPORT_MODE = #{supportMode,jdbcType=CHAR}
      </if>
      order by BANK_TYPE DESC
    </where>
  </select>
  
</mapper>