<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.cls.dao.ClsBankFeeRepDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.clear.dto.ClsBankFeeRepDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CHANNEL_CODE" property="channelCode" jdbcType="CHAR" />
    <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    <result column="ACCOUNT_DATE" property="accountDate" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="FEE" property="fee" jdbcType="DECIMAL" />
    <result column="PAY_AMOUNT" property="payAmount" jdbcType="DECIMAL" />
    <result column="REFUND_AMOUNT" property="refundAmount" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CHANNEL_CODE, CHANNEL_NAME, ACCOUNT_DATE, CREATE_TIME, FEE,PAY_AMOUNT,REFUND_AMOUNT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_CLS_BANK_FEE_REP
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_CLS_BANK_FEE_REP
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.clear.dto.ClsBankFeeRepDto" >
    insert into TB_CLS_BANK_FEE_REP (ID, CHANNEL_CODE, CHANNEL_NAME, 
      ACCOUNT_DATE, CREATE_TIME, FEE,PAY_AMOUNT,REFUND_AMOUNT
      )
    values (#{id,jdbcType=VARCHAR}, #{channelCode,jdbcType=CHAR}, #{channelName,jdbcType=VARCHAR}, 
      #{accountDate,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{fee,jdbcType=DECIMAL}, #{payAmount,jdbcType=DECIMAL}, #{refundAmount,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.clear.dto.ClsBankFeeRepDto" >
    insert into TB_CLS_BANK_FEE_REP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="channelCode != null" >
        CHANNEL_CODE,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="accountDate != null" >
        ACCOUNT_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="fee != null" >
        FEE,
      </if>
      <if test="amount != null" >
        PAY_AMOUNT,
      </if>
      <if test="amount != null" >
        REFUND_AMOUNT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="channelCode != null" >
        #{channelCode,jdbcType=CHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="accountDate != null" >
        #{accountDate,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.clear.dto.ClsBankFeeRepDto" >
    update TB_CLS_BANK_FEE_REP
    <set >
      <if test="channelCode != null" >
        CHANNEL_CODE = #{channelCode,jdbcType=CHAR},
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="accountDate != null" >
        ACCOUNT_DATE = #{accountDate,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fee != null" >
        FEE = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="payAmount != null" >
        PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.clear.dto.ClsBankFeeRepDto" >
    update TB_CLS_BANK_FEE_REP
    set CHANNEL_CODE = #{channelCode,jdbcType=CHAR},
      CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      ACCOUNT_DATE = #{accountDate,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      FEE = #{fee,jdbcType=DECIMAL},
      PAY_AMOUNT = #{payAmount,jdbcType=DECIMAL},
      REFUND_AMOUNT = #{refundAmount,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <select id="queryBankFee"  parameterType="com.ylink.inetpay.common.project.clear.dto.ClsBankFeeRepDto" 
     	resultMap="BaseResultMap">
  select 
    <include refid="Base_Column_List" />
    from TB_CLS_BANK_FEE_REP
		 where 1=1
		 <if test="channelCode !=null and channelCode !=''">
		 	and CHANNEL_CODE=#{channelCode,jdbcType=CHAR}
		</if> 
	 	<if test="channelName !=null and channelName !=''">
		 	and CHANNEL_NAME=#{channelName,jdbcType=VARCHAR}
		</if> 
		 <if test="endTime!=null">
			and ACCOUNT_DATE&lt;=to_char(#{endTime,jdbcType=DATE},'yyyyMMdd')
		</if>
		<if test="startTime!=null">
			and ACCOUNT_DATE&gt;=to_char(#{startTime,jdbcType=DATE},'yyyyMMdd')
		</if>
		order by ACCOUNT_DATE DESC
 </select>
  
</mapper>