<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ylink.inetpay.cbs.bis.dao.BisActCustRateAuditDtoMapper">
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CUST_ID" jdbcType="VARCHAR" property="custId" />
    <result column="CUST_NAME" jdbcType="VARCHAR" property="custName" />
    <result column="ACCOUNT_ID" jdbcType="VARCHAR" property="accountId" />
    <result column="STATUS" jdbcType="CHAR" property="status" />
    <result column="RATE" jdbcType="DECIMAL" property="rate" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="RATE_TYPE" jdbcType="CHAR" property="rateType" />
    <result column="BANK_TYPE" jdbcType="CHAR" property="bankType" />
    <result column="BANK_CARD_NO" jdbcType="VARCHAR" property="bankCardNo" />
    <result column="OPERATE_TYPE" jdbcType="CHAR" property="operateType" />
    <result column="REF_ID" jdbcType="VARCHAR" property="refId" />
    <result column="OPERATOR" jdbcType="VARCHAR" property="operator" />
    <result column="OPERATOR_NAME" jdbcType="VARCHAR" property="operatorName" />
    <result column="AUDIT_STATUS" jdbcType="CHAR" property="auditStatus" />
    <result column="AUDIT_TIME" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="AUDITOR" jdbcType="VARCHAR" property="auditor" />
    <result column="AUDITOR_NAME" jdbcType="VARCHAR" property="auditorName" />
    <result column="UPDATE_TIME" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="VALID_TIME" jdbcType="TIMESTAMP" property="validTime" />
    <result column="OPERATE_TIME" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="REJECT_REASON" jdbcType="VARCHAR" property="rejectReason" />
    <result column="CANCEL_REASON" jdbcType="VARCHAR" property="cancelReason" />
    <result column="SUBJECT_NAME" jdbcType="VARCHAR" property="subjectName" />
    <result column="BANK_NAME" jdbcType="VARCHAR" property="bankName" />
    <result column="BANK_CARD_NAME" jdbcType="VARCHAR" property="bankCardName" />
    <result column="APPLE_TYPE" jdbcType="CHAR" property="appleType" />
    <result column="BATCH_NO" jdbcType="VARCHAR" property="batchNo" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    <result column="REMARK" jdbcType="CLOB" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CUST_ID, CUST_NAME, ACCOUNT_ID, STATUS, RATE, CREATE_TIME, RATE_TYPE, BANK_TYPE, 
    BANK_CARD_NO, OPERATE_TYPE, REF_ID, OPERATOR, OPERATOR_NAME, AUDIT_STATUS, AUDIT_TIME, 
    AUDITOR, AUDITOR_NAME, UPDATE_TIME, VALID_TIME, OPERATE_TIME, REJECT_REASON, CANCEL_REASON,SUBJECT_NAME,
    BANK_NAME,BANK_CARD_NAME,APPLE_TYPE,BATCH_NO
  </sql>
  <sql id="Blob_Column_List">
    REMARK
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_BIS_ACT_CUST_RATE_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findCustRateListByBatchNo" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from TB_BIS_ACT_CUST_RATE_AUDIT
    where BATCH_NO = #{batchNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_BIS_ACT_CUST_RATE_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    insert into TB_BIS_ACT_CUST_RATE_AUDIT (ID, CUST_ID, CUST_NAME, 
      ACCOUNT_ID, STATUS, RATE, 
      CREATE_TIME, RATE_TYPE, BANK_TYPE, 
      BANK_CARD_NO, OPERATE_TYPE, REF_ID, 
      OPERATOR, OPERATOR_NAME, AUDIT_STATUS, 
      AUDIT_TIME, AUDITOR, AUDITOR_NAME, 
      UPDATE_TIME, VALID_TIME, OPERATE_TIME, 
      REJECT_REASON, CANCEL_REASON, REMARK,
      SUBJECT_NAME,BANK_NAME,BANK_CARD_NAME,
      BATCH_NO,APPLE_TYPE
      )
    values (#{id,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{custName,jdbcType=VARCHAR}, 
      #{accountId,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{rate,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{rateType,jdbcType=CHAR}, #{bankType,jdbcType=CHAR}, 
      #{bankCardNo,jdbcType=VARCHAR}, #{operateType,jdbcType=CHAR}, #{refId,jdbcType=VARCHAR}, 
      #{operator,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, #{auditStatus,jdbcType=CHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{auditor,jdbcType=VARCHAR}, #{auditorName,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{validTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{rejectReason,jdbcType=VARCHAR}, #{cancelReason,jdbcType=VARCHAR}, #{remark,jdbcType=CLOB},
      #{subjectName,jdbcType=VARCHAR},#{bankName,jdbcType=VARCHAR},#{bankCardName,jdbcType=VARCHAR},
      #{batchNo,jdbcType=VARCHAR},#{appleType,jdbcType=CHAR}
      ) 
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    insert into TB_BIS_ACT_CUST_RATE_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="custId != null">
        CUST_ID,
      </if>
      <if test="custName != null">
        CUST_NAME,
      </if>
      <if test="accountId != null">
        ACCOUNT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="rate != null">
        RATE,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="rateType != null">
        RATE_TYPE,
      </if>
      <if test="bankType != null">
        BANK_TYPE,
      </if>
      <if test="bankCardNo != null">
        BANK_CARD_NO,
      </if>
      <if test="operateType != null">
        OPERATE_TYPE,
      </if>
      <if test="refId != null">
        REF_ID,
      </if>
      <if test="operator != null">
        OPERATOR,
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME,
      </if>
      <if test="auditStatus != null">
        AUDIT_STATUS,
      </if>
      <if test="auditTime != null">
        AUDIT_TIME,
      </if>
      <if test="auditor != null">
        AUDITOR,
      </if>
      <if test="auditorName != null">
        AUDITOR_NAME,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="validTime != null">
        VALID_TIME,
      </if>
      <if test="operateTime != null">
        OPERATE_TIME,
      </if>
      <if test="rejectReason != null">
        REJECT_REASON,
      </if>
      <if test="cancelReason != null">
        CANCEL_REASON,
      </if>
      <if test="remark != null">
        REMARK,
      </if>
      <if test="subjectName != null">
        SUBJECT_NAME,
      </if>
      <if test="bankName != null">
        BANK_NAME,
      </if>
      <if test="bankCardName != null">
        BANK_CARD_NAME,
      </if>
      <if test="batchNo != null">
        BATCH_NO,
      </if>
      <if test="appleType != null">
        APPLE_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="custId != null">
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rateType != null">
        #{rateType,jdbcType=CHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=CHAR},
      </if>
      <if test="bankCardNo != null">
        #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        #{operateType,jdbcType=CHAR},
      </if>
      <if test="refId != null">
        #{refId,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null">
        #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rejectReason != null">
        #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelReason != null">
        #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=CLOB},
      </if>
      <if test="subjectName != null">
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCardName != null">
        #{bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="appleType != null">
        #{appleType,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    update TB_BIS_ACT_CUST_RATE_AUDIT
    <set>
      <if test="custId != null">
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null">
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="accountId != null">
        ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="rate != null">
        RATE = #{rate,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rateType != null">
        RATE_TYPE = #{rateType,jdbcType=CHAR},
      </if>
      <if test="bankType != null">
        BANK_TYPE = #{bankType,jdbcType=CHAR},
      </if>
      <if test="bankCardNo != null">
        BANK_CARD_NO = #{bankCardNo,jdbcType=VARCHAR},
      </if>
      <if test="operateType != null">
        OPERATE_TYPE = #{operateType,jdbcType=CHAR},
      </if>
      <if test="refId != null">
        REF_ID = #{refId,jdbcType=VARCHAR},
      </if>
      <if test="operator != null">
        OPERATOR = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="auditStatus != null">
        AUDIT_STATUS = #{auditStatus,jdbcType=CHAR},
      </if>
      <if test="auditTime != null">
        AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null">
        AUDITOR = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null">
        AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="validTime != null">
        VALID_TIME = #{validTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rejectReason != null">
        REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      </if>
      <if test="cancelReason != null">
        CANCEL_REASON = #{cancelReason,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        REMARK = #{remark,jdbcType=CLOB},
      </if>
      <if test="subjectName != null">
        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        BANK_NAME = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="bankCardName != null">
        BANK_CARD_NAME = #{bankCardName,jdbcType=VARCHAR},
      </if>
      <if test="batchNo != null">
        BATCH_NO = #{batchNo,jdbcType=VARCHAR},
      </if>
      <if test="appleType != null">
        APPLE_TYPE = #{appleType,jdbcType=CHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    update TB_BIS_ACT_CUST_RATE_AUDIT
    set CUST_ID = #{custId,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      RATE = #{rate,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RATE_TYPE = #{rateType,jdbcType=CHAR},
      BANK_TYPE = #{bankType,jdbcType=CHAR},
      BANK_CARD_NO = #{bankCardNo,jdbcType=VARCHAR},
      OPERATE_TYPE = #{operateType,jdbcType=CHAR},
      REF_ID = #{refId,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      AUDIT_STATUS = #{auditStatus,jdbcType=CHAR},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      AUDITOR = #{auditor,jdbcType=VARCHAR},
      AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VALID_TIME = #{validTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      CANCEL_REASON = #{cancelReason,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=CLOB},
      SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
  	  BANK_CARD_NAME = #{bankCardName,jdbcType=VARCHAR},
  	  BATCH_NO = #{batchNo,jdbcType=VARCHAR},
  	  APPLE_TYPE = #{appleType,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
    update TB_BIS_ACT_CUST_RATE_AUDIT
    set CUST_ID = #{custId,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      ACCOUNT_ID = #{accountId,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=CHAR},
      RATE = #{rate,jdbcType=DECIMAL},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      RATE_TYPE = #{rateType,jdbcType=CHAR},
      BANK_TYPE = #{bankType,jdbcType=CHAR},
      BANK_CARD_NO = #{bankCardNo,jdbcType=VARCHAR},
      OPERATE_TYPE = #{operateType,jdbcType=CHAR},
      REF_ID = #{refId,jdbcType=VARCHAR},
      OPERATOR = #{operator,jdbcType=VARCHAR},
      OPERATOR_NAME = #{operatorName,jdbcType=VARCHAR},
      AUDIT_STATUS = #{auditStatus,jdbcType=CHAR},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      AUDITOR = #{auditor,jdbcType=VARCHAR},
      AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      VALID_TIME = #{validTime,jdbcType=TIMESTAMP},
      OPERATE_TIME = #{operateTime,jdbcType=TIMESTAMP},
      REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
      CANCEL_REASON = #{cancelReason,jdbcType=VARCHAR},
      SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      BANK_NAME = #{bankName,jdbcType=VARCHAR},
  	  BANK_CARD_NAME = #{bankCardName,jdbcType=VARCHAR}
  	  BATCH_NO = #{batchNo,jdbcType=VARCHAR},
  	  APPLE_TYPE = #{appleType,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateStatusById">
    update TB_BIS_ACT_CUST_RATE_AUDIT
    set STATUS = #{newStatus,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR} AND STATUS = #{oldStatus,jdbcType=CHAR}
  </update>
  <select id="list" resultMap="BaseResultMap" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisActCustRateAuditDto">
  	select * from TB_BIS_ACT_CUST_RATE_AUDIT  
  	<where> 1=1 
  		<if test="custId != null and custId != ''">
  			and instr(CUST_ID, #{custId,jdbcType=VARCHAR}) > 0
  			<!-- CUST_ID like concat(concat('%',#{custId,jdbcType=VARCHAR}),'%') --> 
  		</if>
  		<if test="custName != null and custName != ''">
  			and instr(CUST_NAME, #{custName,jdbcType=VARCHAR}) > 0
  			<!-- and CUST_NAME like concat(concat('%',#{custName,jdbcType=VARCHAR}),'%')  -->
  		</if>
  		<if test="bankCardNo != null and bankCardNo != ''">
  			and instr(BANK_CARD_NO, #{bankCardNo,jdbcType=VARCHAR}) > 0
  			<!-- and CUST_NAME like concat(concat('%',#{custName,jdbcType=VARCHAR}),'%')  -->
  		</if>
  		<if test="accountId != null and accountId != ''">
  			and instr(ACCOUNT_ID, #{accountId,jdbcType=VARCHAR}) > 0
  			<!-- and ACCOUNT_ID like concat(concat('%',#{accountId,jdbcType=VARCHAR}),'%') --> 
  		</if>
  		<if test="subjectName != null and subjectName != ''">
  			and instr(SUBJECT_NAME, #{subjectName,jdbcType=VARCHAR}) > 0
  			<!-- and SUBJECT_NAME like concat(concat('%',#{subjectName,jdbcType=VARCHAR}),'%')  -->
  		</if>
  		<if test="bankName != null and bankName != ''">
  			and instr(BANK_NAME, #{bankName,jdbcType=VARCHAR}) > 0
  			<!-- and BANK_NAME like concat(concat('%',#{bankName,jdbcType=VARCHAR}),'%')  -->
  		</if>
  		<if test="bankCardName != null and bankCardName != ''">
  			and instr(BANK_CARD_NAME, #{bankCardName,jdbcType=VARCHAR}) > 0
  			<!-- and BANK_CARD_NAME like concat(concat('%',#{bankCardName,jdbcType=VARCHAR}),'%')  -->
  		</if>
  		<if test="status != null">
  			and STATUS = #{status,jdbcType=CHAR} 
  		</if>
		<if test="rateType != null">
  			and RATE_TYPE = #{rateType,jdbcType=CHAR} 
  		</if>
  		<if test="validTime != null">
  			and VALID_TIME = #{validTime,jdbcType=TIMESTAMP} 
  		</if>
  		<if test="bankType != null">
  			and BANK_TYPE = #{bankType,jdbcType=CHAR} 
  		</if>
  		<if test="operateType != null">
  			and OPERATE_TYPE = #{operateType,jdbcType=CHAR} 
  		</if>
  		<if test="auditStatus != null">
  			and AUDIT_STATUS = #{auditStatus,jdbcType=CHAR} 
  		</if>
  		<if test="batchNo != null and batchNo !=''">
  			and instr(BATCH_NO,#{batchNo,jdbcType=VARCHAR})>0
  		</if>
  		<if test="appleType != null and appleType !=''">
  			and APPLE_TYPE = #{appleType,jdbcType=CHAR} 
  		</if>
  	</where>
  	order by OPERATE_TIME desc 
  </select>
  <select id="countWaitAuditWithAccountId" parameterType="java.lang.String" resultType="long">
    select count(*) from TB_BIS_ACT_CUST_RATE_AUDIT
    where AUDIT_STATUS = '00' and ACCOUNT_ID = #{accountId,jdbcType=VARCHAR} 
  </select>
  <select id="countWaitAuditWithBankCardNo" parameterType="java.lang.String" resultType="long">
    select count(*) from TB_BIS_ACT_CUST_RATE_AUDIT
    where AUDIT_STATUS = '00' and BANK_CARD_NO = #{bankCardNo,jdbcType=VARCHAR} 
  </select>
  <select id="findWithAccountIds" resultMap="BaseResultMap">
    select * from TB_BIS_ACT_CUST_RATE_AUDIT
    <where>
    	ACCOUNT_ID in 
    	<foreach collection="accountIds" item="accountId" open="(" separator="," close=")">
    		#{accountId,jdbcType=VARCHAR}
    	</foreach>
    	and (
    	AUDIT_STATUS = #{auditStatus,jdbcType=CHAR} 
    	or 
    	(AUDIT_STATUS=#{auditPass,jdbcType=CHAR} and STATUS=#{uneffective,jdbcType=CHAR})
    	)
    	<!-- <if test="auditStatus != null">
    		and AUDIT_STATUS = #{auditStatus,jdbcType=CHAR} 
    	</if> -->
    </where>
  </select>
  <insert id="saveBatch">
  	 insert into TB_BIS_ACT_CUST_RATE_AUDIT (ID, CUST_ID, CUST_NAME, 
      ACCOUNT_ID, STATUS, RATE, 
      CREATE_TIME, RATE_TYPE, BANK_TYPE, 
      BANK_CARD_NO, OPERATE_TYPE, REF_ID, 
      OPERATOR, OPERATOR_NAME, AUDIT_STATUS, 
      AUDIT_TIME, AUDITOR, AUDITOR_NAME, 
      UPDATE_TIME, VALID_TIME, OPERATE_TIME, 
      REJECT_REASON, CANCEL_REASON, REMARK,
      SUBJECT_NAME,APPLE_TYPE,BATCH_NO)
      <foreach collection="acraList" index="index" item="item" separator=" union all ">
		select 
	      #{item.id,jdbcType=VARCHAR}, #{item.custId,jdbcType=VARCHAR}, #{item.custName,jdbcType=VARCHAR}, 
	      #{item.accountId,jdbcType=VARCHAR}, #{item.status,jdbcType=CHAR}, #{item.rate,jdbcType=DECIMAL}, 
	      #{item.createTime,jdbcType=TIMESTAMP}, #{item.rateType,jdbcType=CHAR}, #{item.bankType,jdbcType=CHAR}, 
	      #{item.bankCardNo,jdbcType=VARCHAR}, #{item.operateType,jdbcType=CHAR}, #{item.refId,jdbcType=VARCHAR}, 
	      #{item.operator,jdbcType=VARCHAR}, #{item.operatorName,jdbcType=VARCHAR}, #{item.auditStatus,jdbcType=CHAR}, 
	      #{item.auditTime,jdbcType=TIMESTAMP}, #{item.auditor,jdbcType=VARCHAR}, #{item.auditorName,jdbcType=VARCHAR}, 
	      #{item.updateTime,jdbcType=TIMESTAMP}, #{item.validTime,jdbcType=TIMESTAMP}, #{item.operateTime,jdbcType=TIMESTAMP}, 
	      #{item.rejectReason,jdbcType=VARCHAR}, #{item.cancelReason,jdbcType=VARCHAR}, #{item.remark,jdbcType=CLOB},
	      #{item.subjectName,jdbcType=VARCHAR}, #{item.appleType,jdbcType=CHAR}, #{item.batchNo,jdbcType=VARCHAR}
	    from dual 
	  </foreach>
  </insert>
  <select id="findPassAndValidTime" resultMap="BaseResultMap">
    select * from TB_BIS_ACT_CUST_RATE_AUDIT where AUDIT_STATUS = '01' and STATUS = '0' and to_char(VALID_TIME,'YYYY-MM-DD') &lt;= to_char(#{validTime,jdbcType=TIMESTAMP},'YYYY-MM-DD')
  </select>
  
  <select id="getAuditNum" resultType="long">
	 select count(*) from TB_BIS_ACT_CUST_RATE_AUDIT
	 where AUDIT_STATUS = #{auditPass,jdbcType=CHAR}
	 AND STATUS = #{uneffective,jdbcType=CHAR}
	 and ID in
	 <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
          #{item}
     </foreach>
  </select>
  
  <insert id="batchCustRateExp" parameterType="list" >
     insert into TB_BIS_ACT_CUST_RATE_AUDIT (ID, CUST_ID, CUST_NAME, 
      ACCOUNT_ID, STATUS, RATE, 
      CREATE_TIME, RATE_TYPE, BANK_TYPE, 
      BANK_CARD_NO, OPERATE_TYPE, REF_ID, 
      OPERATOR, OPERATOR_NAME, AUDIT_STATUS, 
      AUDIT_TIME, AUDITOR, AUDITOR_NAME, 
      UPDATE_TIME, VALID_TIME, OPERATE_TIME, 
      REJECT_REASON, CANCEL_REASON, REMARK,
      SUBJECT_NAME,BANK_NAME,BANK_CARD_NAME,
      BATCH_NO,APPLE_TYPE)
	<foreach collection="batchDtos" index="index" item="item" separator=" union all ">
		select 
		#{item.id,jdbcType=VARCHAR}, #{item.custId,jdbcType=VARCHAR}, #{item.custName,jdbcType=VARCHAR}, 
        #{item.accountId,jdbcType=VARCHAR}, #{item.status,jdbcType=CHAR}, #{item.rate,jdbcType=DECIMAL}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.rateType,jdbcType=CHAR}, #{item.bankType,jdbcType=CHAR}, 
        #{item.bankCardNo,jdbcType=VARCHAR}, #{item.operateType,jdbcType=CHAR}, #{item.refId,jdbcType=VARCHAR}, 
        #{item.operator,jdbcType=VARCHAR}, #{item.operatorName,jdbcType=VARCHAR}, #{item.auditStatus,jdbcType=CHAR}, 
        #{item.auditTime,jdbcType=TIMESTAMP}, #{item.auditor,jdbcType=VARCHAR}, #{item.auditorName,jdbcType=VARCHAR}, 
        #{item.updateTime,jdbcType=TIMESTAMP}, #{item.validTime,jdbcType=TIMESTAMP}, #{item.operateTime,jdbcType=TIMESTAMP}, 
        #{item.rejectReason,jdbcType=VARCHAR}, #{item.cancelReason,jdbcType=VARCHAR}, #{item.remark,jdbcType=CLOB},
        #{item.subjectName,jdbcType=VARCHAR},#{item.bankName,jdbcType=VARCHAR},#{item.bankCardName,jdbcType=VARCHAR},
        #{item.batchNo,jdbcType=VARCHAR},#{item.appleType,jdbcType=CHAR}
		from dual
	</foreach>
  </insert>
	<select id="findListByBatchNo" resultMap="BaseResultMap">
		select * from TB_BIS_ACT_CUST_RATE_AUDIT
		where BATCH_NO = #{batchNo,jdbcType=VARCHAR}
	</select>
	<update id="updateAuditStatusByBatchNo" >
	    update TB_BIS_ACT_CUST_RATE_AUDIT
	    set AUDIT_STATUS = #{auditStatus,jdbcType=CHAR}
	    where BATCH_NO = #{batchNo,jdbcType=VARCHAR}
	</update>
	<select id="findWaitAudit" resultMap="BaseResultMap">
		select * from TB_BIS_ACT_CUST_RATE_AUDIT
		where (AUDIT_STATUS = '00' or (AUDIT_STATUS = '01' and STATUS = '0')) and RATE_TYPE = '1'
		and ACCOUNT_ID in
		<foreach collection="accountIds" index="index" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
    <select id="findWaitAuditByBankAccNos" resultMap="BaseResultMap">
		select * from TB_BIS_ACT_CUST_RATE_AUDIT
		where (AUDIT_STATUS = '00' or (AUDIT_STATUS = '01' and STATUS = '0')) and RATE_TYPE = '2'
		and BANK_CARD_NO in
		<foreach collection="bankAccNos" index="index" item="item" open="(" separator="," close=")">
	        #{item}
	    </foreach>
    </select>
</mapper>