<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.bis.dao.BisSetCashFundOperDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.bis.BisSetCashFundOperDto" >
    <result column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BUS_ID" property="busId" jdbcType="VARCHAR" />
    <result column="SET_AMT" property="setAmt" jdbcType="DECIMAL" />
    <result column="ORDER_ID" property="orderId" jdbcType="VARCHAR" />
    <result column="PAY_STATUS" property="payStatus" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisSetCashFundOperDto" >
    insert into TB_BIS_SET_CASHFUND_OPER (ID, BUS_ID, SET_AMT, 
      ORDER_ID, PAY_STATUS, CREATE_TIME,REMARK
      )
    values (#{id,jdbcType=VARCHAR}, #{busId,jdbcType=VARCHAR}, #{setAmt,jdbcType=DECIMAL}, 
      #{orderId,jdbcType=VARCHAR}, #{payStatus,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP},
      #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.bis.BisSetCashFundOperDto" >
    insert into TB_BIS_SET_CASHFUND_OPER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="busId != null" >
        BUS_ID,
      </if>
      <if test="setAmt != null" >
        SET_AMT,
      </if>
      <if test="orderId != null" >
        ORDER_ID,
      </if>
      <if test="payStatus != null" >
        PAY_STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busId != null" >
        #{busId,jdbcType=VARCHAR},
      </if>
      <if test="setAmt != null" >
        #{setAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updatePayStatus">
    update TB_BIS_SET_CASHFUND_OPER
    set 
        PAY_STATUS = #{payStatus,jdbcType=CHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="findByBusId" resultType="long">
		select count(*) from TB_BIS_SET_CASHFUND_OPER
		where PAY_STATUS = #{unknown,jdbcType=CHAR}
		and BUS_ID = #{busId,jdbcType=CHAR}
  </select>
  <sql id="Base_Column_List">
	  ID, BUS_ID, SET_AMT,ORDER_ID,
	  PAY_STATUS,CREATE_TIME,REMARK
  </sql>
 <!--  <select id="findByBusId" resultMap="BaseResultMap" >
		select count(*) from TB_BIS_SET_CASHFUND_OPER
		where PAY_STATUS = #{unknown,jdbcType=CHAR}
		and BUS_ID = #{busId,jdbcType=CHAR}
  </select> -->
  
  <select id="findListUndown" resultMap="BaseResultMap" >
		select 
		<include refid="Base_Column_List" />
		from TB_BIS_SET_CASHFUND_OPER
		where PAY_STATUS = #{unknown,jdbcType=CHAR}
  </select>
  <select id="getOperList" resultMap="BaseResultMap" >
		select 
		<include refid="Base_Column_List" />
		from TB_BIS_SET_CASHFUND_OPER
		where BUS_ID = #{busId,jdbcType=VARCHAR}
		order by CREATE_TIME DESC
  </select>
  <select id="existOperNum" resultType="long" >
		select count(ID)
		from TB_BIS_SET_CASHFUND_OPER
		where BUS_ID = #{busId,jdbcType=VARCHAR}
  </select>
</mapper>