<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.mrs.dao.MrsAccountPlatformCustDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsAccountPlatformCustDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SOURCE" property="source" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="PLATFORM_CUST_CODE" property="platformCustCode" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SOURCE, CUST_ID, PLATFORM_CUST_CODE, CREATE_TIME, UPDATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_ACCOUNT_PLATFORM_CUST
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_MRS_ACCOUNT_PLATFORM_CUST
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsAccountPlatformCustDto" >
    insert into TB_MRS_ACCOUNT_PLATFORM_CUST (ID, SOURCE, CUST_ID, 
      PLATFORM_CUST_CODE, CREATE_TIME, UPDATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{source,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, 
      #{platformCustCode,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsAccountPlatformCustDto" >
    insert into TB_MRS_ACCOUNT_PLATFORM_CUST
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="source != null" >
        SOURCE,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="platformCustCode != null" >
        PLATFORM_CUST_CODE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="platformCustCode != null" >
        #{platformCustCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsAccountPlatformCustDto" >
    update TB_MRS_ACCOUNT_PLATFORM_CUST
    <set >
      <if test="source != null" >
        SOURCE = #{source,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="platformCustCode != null" >
        PLATFORM_CUST_CODE = #{platformCustCode,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsAccountPlatformCustDto" >
    update TB_MRS_ACCOUNT_PLATFORM_CUST
    set SOURCE = #{source,jdbcType=VARCHAR},
      CUST_ID = #{custId,jdbcType=VARCHAR},
      PLATFORM_CUST_CODE = #{platformCustCode,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="findActPlatformCust" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
	from TB_MRS_ACCOUNT_PLATFORM_CUST
	where
	SOURCE = #{source}
	and CUST_ID	= #{custId}
	<if test="platformCustCode != null and platformCustCode != '' ">
		and PLATFORM_CUST_CODE = #{platformCustCode}
	</if>
	
  </select>
  
</mapper>