<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.mrs.dao.MrsCertAuditDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsCertAuditDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="AUDITOR" property="auditor" jdbcType="VARCHAR" />
    <result column="AUDITOR_NAME" property="auditorName" jdbcType="VARCHAR" />
    <result column="AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="REMARKS" property="remarks" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CUST_ID, CREATE_TIME, AUDITOR, AUDITOR_NAME, AUDIT_TIME, STATUS, REMARKS
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_CERT_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findByCustId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_CERT_AUDIT
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_MRS_CERT_AUDIT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsCertAuditDto" >
    insert into TB_MRS_CERT_AUDIT (ID, CUST_ID, CREATE_TIME, 
      AUDITOR, AUDITOR_NAME, AUDIT_TIME, 
      STATUS, REMARKS)
    values (#{id,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{auditor,jdbcType=VARCHAR}, #{auditorName,jdbcType=VARCHAR}, #{auditTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=CHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsCertAuditDto" >
    insert into TB_MRS_CERT_AUDIT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="auditor != null" >
        AUDITOR,
      </if>
      <if test="auditorName != null" >
        AUDITOR_NAME,
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remarks != null" >
        REMARKS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null" >
        #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsCertAuditDto" >
    update TB_MRS_CERT_AUDIT
    <set >
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditor != null" >
        AUDITOR = #{auditor,jdbcType=VARCHAR},
      </if>
      <if test="auditorName != null" >
        AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null" >
        AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="remarks != null" >
        REMARKS = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsCertAuditDto" >
    update TB_MRS_CERT_AUDIT
    set CUST_ID = #{custId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      AUDITOR = #{auditor,jdbcType=VARCHAR},
      AUDITOR_NAME = #{auditorName,jdbcType=VARCHAR},
      AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=CHAR},
      REMARKS = #{remarks,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="findOneByCustId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_CERT_AUDIT
    where ROWNUM BETWEEN 1 AND 1 and cust_id = #{custId,jdbcType=VARCHAR} and status = #{status,jdbcType=CHAR} order by create_time desc
  </select>
</mapper>