<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.mrs.dao.MrsEmailMapperDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsEmailMapperDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="SUFFIX" property="suffix" jdbcType="VARCHAR" />
    <result column="EMAIL_URL" property="emailUrl" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, SUFFIX, EMAIL_URL, REMARK, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_EMAIL_MAPPER
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findBySuffix" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_EMAIL_MAPPER
    where SUFFIX = #{suffix,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_MRS_EMAIL_MAPPER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsEmailMapperDto" >
    insert into TB_MRS_EMAIL_MAPPER (ID, SUFFIX, EMAIL_URL, 
      REMARK, CREATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, #{emailUrl,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsEmailMapperDto" >
    insert into TB_MRS_EMAIL_MAPPER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="suffix != null" >
        SUFFIX,
      </if>
      <if test="emailUrl != null" >
        EMAIL_URL,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="suffix != null" >
        #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="emailUrl != null" >
        #{emailUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsEmailMapperDto" >
    update TB_MRS_EMAIL_MAPPER
    <set >
      <if test="suffix != null" >
        SUFFIX = #{suffix,jdbcType=VARCHAR},
      </if>
      <if test="emailUrl != null" >
        EMAIL_URL = #{emailUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsEmailMapperDto" >
    update TB_MRS_EMAIL_MAPPER
    set SUFFIX = #{suffix,jdbcType=VARCHAR},
      EMAIL_URL = #{emailUrl,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>