<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.mrs.dao.MrsPlatformDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsPlatformDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="PLATFORM_CODE" property="platformCode" jdbcType="VARCHAR" />
    <result column="PLATFORM_NAME" property="platformName" jdbcType="VARCHAR" />
    <result column="IS_AUTH" property="isAuth" jdbcType="CHAR" />
    <result column="STATUS" property="status" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_OPERATOR" property="createOperator" jdbcType="VARCHAR" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_OPERATOR" property="updateOperator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PLATFORM_CODE, PLATFORM_NAME, IS_AUTH, STATUS, CREATE_TIME, CREATE_OPERATOR, 
    UPDATE_TIME, UPDATE_OPERATOR
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_PLATFORM
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="findByPlatformCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_PLATFORM
    where PLATFORM_CODE = #{platformCode,jdbcType=VARCHAR}
     <if test="status != null and status != ''" >
        AND STATUS = #{status,jdbcType=CHAR}
      </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_MRS_PLATFORM
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsPlatformDto" >
    insert into TB_MRS_PLATFORM (ID, PLATFORM_CODE, PLATFORM_NAME, 
      IS_AUTH, STATUS, CREATE_TIME, 
      CREATE_OPERATOR, UPDATE_TIME, UPDATE_OPERATOR
      )
    values (#{id,jdbcType=VARCHAR}, #{platformCode,jdbcType=VARCHAR}, #{platformName,jdbcType=VARCHAR}, 
      #{isAuth,jdbcType=CHAR}, #{status,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createOperator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, #{updateOperator,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsPlatformDto" >
    insert into TB_MRS_PLATFORM
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="platformCode != null" >
        PLATFORM_CODE,
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME,
      </if>
      <if test="isAuth != null" >
        IS_AUTH,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="createOperator != null" >
        CREATE_OPERATOR,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="updateOperator != null" >
        UPDATE_OPERATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="platformCode != null" >
        #{platformCode,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="isAuth != null" >
        #{isAuth,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null" >
        #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        #{updateOperator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsPlatformDto" >
    update TB_MRS_PLATFORM
    <set >
      <if test="platformCode != null" >
        PLATFORM_CODE = #{platformCode,jdbcType=VARCHAR},
      </if>
      <if test="platformName != null" >
        PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      </if>
      <if test="isAuth != null" >
        IS_AUTH = #{isAuth,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createOperator != null" >
        CREATE_OPERATOR = #{createOperator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateOperator != null" >
        UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsPlatformDto" >
    update TB_MRS_PLATFORM
    set PLATFORM_CODE = #{platformCode,jdbcType=VARCHAR},
      PLATFORM_NAME = #{platformName,jdbcType=VARCHAR},
      IS_AUTH = #{isAuth,jdbcType=CHAR},
      STATUS = #{status,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      CREATE_OPERATOR = #{createOperator,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      UPDATE_OPERATOR = #{updateOperator,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>