<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.mrs.dao.MrsUserPayPasswordDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsUserPayPasswordDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="ERROR_NUM" property="errorNum" jdbcType="DECIMAL" />
    <result column="LAST_ERR_TIME" property="lastErrTime" jdbcType="TIMESTAMP" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CUST_ID, PASSWORD, ERROR_NUM, LAST_ERR_TIME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_USER_PAY_PASSWORD
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_MRS_USER_PAY_PASSWORD
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsUserPayPasswordDto" >
    insert into TB_MRS_USER_PAY_PASSWORD (ID, CUST_ID, PASSWORD, 
      ERROR_NUM, LAST_ERR_TIME, CREATE_TIME
      )
    values (#{id,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{errorNum,jdbcType=DECIMAL}, #{lastErrTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsUserPayPasswordDto" >
    insert into TB_MRS_USER_PAY_PASSWORD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="errorNum != null" >
        ERROR_NUM,
      </if>
      <if test="lastErrTime != null" >
        LAST_ERR_TIME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="errorNum != null" >
        #{errorNum,jdbcType=DECIMAL},
      </if>
      <if test="lastErrTime != null" >
        #{lastErrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsUserPayPasswordDto" >
    update TB_MRS_USER_PAY_PASSWORD
    <set >
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="errorNum != null" >
        ERROR_NUM = #{errorNum,jdbcType=DECIMAL},
      </if>
      <if test="lastErrTime != null" >
        LAST_ERR_TIME = #{lastErrTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.cbs.dto.mrs.MrsUserPayPasswordDto" >
    update TB_MRS_USER_PAY_PASSWORD
    set CUST_ID = #{custId,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      ERROR_NUM = #{errorNum,jdbcType=DECIMAL},
      LAST_ERR_TIME = #{lastErrTime,jdbcType=TIMESTAMP},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <select id="selectByCustId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_MRS_USER_PAY_PASSWORD
    where CUST_ID = #{custId,jdbcType=VARCHAR}
  </select>
  <update id="clearLockTime" parameterType="java.lang.String">
    update TB_MRS_USER_PAY_PASSWORD
    <set >
        ERROR_NUM = 0,
        LAST_ERR_TIME = ''
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>