<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.pay.dao.PayHistoryPaymentDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.pay.dto.PayHistoryPaymentDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BUSI_ID" property="busiId" jdbcType="CHAR" />
    <result column="ACCESS_CODE" property="accessCode" jdbcType="VARCHAR" />
    <result column="MER_ORDER_ID" property="merOrderId" jdbcType="VARCHAR" />
    <result column="MER_ORDER_DATE" property="merOrderDate" jdbcType="CHAR" />
    <result column="MER_CODE" property="merCode" jdbcType="CHAR" />
    <result column="MER_NAME" property="merName" jdbcType="VARCHAR" />
    <result column="EXT_ORG_ID" property="extOrgId" jdbcType="CHAR" />
    <result column="ORDER_TYPE" property="orderType" jdbcType="CHAR" />
    <result column="ORDER_AMT" property="orderAmt" jdbcType="DECIMAL" />
    <result column="REFUND_AMT" property="refundAmt" jdbcType="DECIMAL" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="PAYER_CUST_ID" property="payerCustId" jdbcType="VARCHAR" />
    <result column="PAYER_CUST_NAME" property="payerCustName" jdbcType="VARCHAR" />
    <result column="SUBJECT_NAME" property="subjectName" jdbcType="VARCHAR" />
    <result column="TRADE_NAME" property="tradeName" jdbcType="VARCHAR" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR" />
    <result column="PAY_STYLE" property="payStyle" jdbcType="CHAR" />
    <result column="RETURN_URL" property="returnUrl" jdbcType="VARCHAR" />
    <result column="NOTIFY_URL" property="notifyUrl" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ACCOUNT_DATE" property="accountDate" jdbcType="CHAR" />
    <result column="CLEAR_DATE" property="clearDate" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COMPLETE_TIME" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="FAIL_REASON" property="failReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BUSI_ID, ACCESS_CODE, MER_ORDER_ID, MER_ORDER_DATE, MER_CODE, MER_NAME, EXT_ORG_ID, 
    ORDER_TYPE, ORDER_AMT, REFUND_AMT, CUST_ID, PAYER_CUST_ID, PAYER_CUST_NAME, SUBJECT_NAME, 
    TRADE_NAME, ORDER_STATUS, PAY_STYLE, RETURN_URL, NOTIFY_URL, REMARK, ACCOUNT_DATE, 
    CLEAR_DATE, CREATE_TIME, COMPLETE_TIME,FAIL_REASON
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_PAY_HISTORY_PAYMENT
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_PAY_HISTORY_PAYMENT
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryPaymentDto" >
    insert into TB_PAY_HISTORY_PAYMENT (ID, BUSI_ID, ACCESS_CODE, 
      MER_ORDER_ID, MER_ORDER_DATE, MER_CODE, 
      MER_NAME, EXT_ORG_ID, ORDER_TYPE, 
      ORDER_AMT, REFUND_AMT, CUST_ID, 
      PAYER_CUST_ID, PAYER_CUST_NAME, SUBJECT_NAME, 
      TRADE_NAME, ORDER_STATUS, PAY_STYLE, 
      RETURN_URL, NOTIFY_URL, REMARK, 
      ACCOUNT_DATE, CLEAR_DATE, CREATE_TIME, 
      COMPLETE_TIME,FAIL_REASON)
    values (#{id,jdbcType=VARCHAR}, #{busiId,jdbcType=CHAR}, #{accessCode,jdbcType=VARCHAR}, 
      #{merOrderId,jdbcType=VARCHAR}, #{merOrderDate,jdbcType=CHAR}, #{merCode,jdbcType=CHAR}, 
      #{merName,jdbcType=VARCHAR}, #{extOrgId,jdbcType=CHAR}, #{orderType,jdbcType=CHAR}, 
      #{orderAmt,jdbcType=DECIMAL}, #{refundAmt,jdbcType=DECIMAL}, #{custId,jdbcType=VARCHAR}, 
      #{payerCustId,jdbcType=VARCHAR}, #{payerCustName,jdbcType=VARCHAR}, #{subjectName,jdbcType=VARCHAR}, 
      #{tradeName,jdbcType=VARCHAR}, #{orderStatus,jdbcType=CHAR}, #{payStyle,jdbcType=CHAR}, 
      #{returnUrl,jdbcType=VARCHAR}, #{notifyUrl,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{accountDate,jdbcType=CHAR}, #{clearDate,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{completeTime,jdbcType=TIMESTAMP},#{failReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryPaymentDto" >
    insert into TB_PAY_HISTORY_PAYMENT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="busiId != null" >
        BUSI_ID,
      </if>
      <if test="accessCode != null" >
        ACCESS_CODE,
      </if>
      <if test="merOrderId != null" >
        MER_ORDER_ID,
      </if>
      <if test="merOrderDate != null" >
        MER_ORDER_DATE,
      </if>
      <if test="merCode != null" >
        MER_CODE,
      </if>
      <if test="merName != null" >
        MER_NAME,
      </if>
      <if test="extOrgId != null" >
        EXT_ORG_ID,
      </if>
      <if test="orderType != null" >
        ORDER_TYPE,
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT,
      </if>
      <if test="refundAmt != null" >
        REFUND_AMT,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="payerCustId != null" >
        PAYER_CUST_ID,
      </if>
      <if test="payerCustName != null" >
        PAYER_CUST_NAME,
      </if>
      <if test="subjectName != null" >
        SUBJECT_NAME,
      </if>
      <if test="tradeName != null" >
        TRADE_NAME,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="payStyle != null" >
        PAY_STYLE,
      </if>
      <if test="returnUrl != null" >
        RETURN_URL,
      </if>
      <if test="notifyUrl != null" >
        NOTIFY_URL,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="accountDate != null" >
        ACCOUNT_DATE,
      </if>
      <if test="clearDate != null" >
        CLEAR_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME,
      </if>
       <if test="failReason != null" >
        FAIL_REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        #{busiId,jdbcType=CHAR},
      </if>
      <if test="accessCode != null" >
        #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="merOrderId != null" >
        #{merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="merOrderDate != null" >
        #{merOrderDate,jdbcType=CHAR},
      </if>
      <if test="merCode != null" >
        #{merCode,jdbcType=CHAR},
      </if>
      <if test="merName != null" >
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="extOrgId != null" >
        #{extOrgId,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=CHAR},
      </if>
      <if test="orderAmt != null" >
        #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="refundAmt != null" >
        #{refundAmt,jdbcType=DECIMAL},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="payerCustId != null" >
        #{payerCustId,jdbcType=VARCHAR},
      </if>
      <if test="payerCustName != null" >
        #{payerCustName,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null" >
        #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="payStyle != null" >
        #{payStyle,jdbcType=CHAR},
      </if>
      <if test="returnUrl != null" >
        #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountDate != null" >
        #{accountDate,jdbcType=CHAR},
      </if>
      <if test="clearDate != null" >
        #{clearDate,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failReason != null" >
        #{failReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryPaymentDto" >
    update TB_PAY_HISTORY_PAYMENT
    <set >
      <if test="busiId != null" >
        BUSI_ID = #{busiId,jdbcType=CHAR},
      </if>
      <if test="accessCode != null" >
        ACCESS_CODE = #{accessCode,jdbcType=VARCHAR},
      </if>
      <if test="merOrderId != null" >
        MER_ORDER_ID = #{merOrderId,jdbcType=VARCHAR},
      </if>
      <if test="merOrderDate != null" >
        MER_ORDER_DATE = #{merOrderDate,jdbcType=CHAR},
      </if>
      <if test="merCode != null" >
        MER_CODE = #{merCode,jdbcType=CHAR},
      </if>
      <if test="merName != null" >
        MER_NAME = #{merName,jdbcType=VARCHAR},
      </if>
      <if test="extOrgId != null" >
        EXT_ORG_ID = #{extOrgId,jdbcType=CHAR},
      </if>
      <if test="orderType != null" >
        ORDER_TYPE = #{orderType,jdbcType=CHAR},
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT = #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="refundAmt != null" >
        REFUND_AMT = #{refundAmt,jdbcType=DECIMAL},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="payerCustId != null" >
        PAYER_CUST_ID = #{payerCustId,jdbcType=VARCHAR},
      </if>
      <if test="payerCustName != null" >
        PAYER_CUST_NAME = #{payerCustName,jdbcType=VARCHAR},
      </if>
      <if test="subjectName != null" >
        SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="payStyle != null" >
        PAY_STYLE = #{payStyle,jdbcType=CHAR},
      </if>
      <if test="returnUrl != null" >
        RETURN_URL = #{returnUrl,jdbcType=VARCHAR},
      </if>
      <if test="notifyUrl != null" >
        NOTIFY_URL = #{notifyUrl,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountDate != null" >
        ACCOUNT_DATE = #{accountDate,jdbcType=CHAR},
      </if>
      <if test="clearDate != null" >
        CLEAR_DATE = #{clearDate,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failReason != null" >
       FAIL_REASON= #{failReason,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryPaymentDto" >
    update TB_PAY_HISTORY_PAYMENT
    set BUSI_ID = #{busiId,jdbcType=CHAR},
      ACCESS_CODE = #{accessCode,jdbcType=VARCHAR},
      MER_ORDER_ID = #{merOrderId,jdbcType=VARCHAR},
      MER_ORDER_DATE = #{merOrderDate,jdbcType=CHAR},
      MER_CODE = #{merCode,jdbcType=CHAR},
      MER_NAME = #{merName,jdbcType=VARCHAR},
      EXT_ORG_ID = #{extOrgId,jdbcType=CHAR},
      ORDER_TYPE = #{orderType,jdbcType=CHAR},
      ORDER_AMT = #{orderAmt,jdbcType=DECIMAL},
      REFUND_AMT = #{refundAmt,jdbcType=DECIMAL},
      CUST_ID = #{custId,jdbcType=VARCHAR},
      PAYER_CUST_ID = #{payerCustId,jdbcType=VARCHAR},
      PAYER_CUST_NAME = #{payerCustName,jdbcType=VARCHAR},
      SUBJECT_NAME = #{subjectName,jdbcType=VARCHAR},
      TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
      ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      PAY_STYLE = #{payStyle,jdbcType=CHAR},
      RETURN_URL = #{returnUrl,jdbcType=VARCHAR},
      NOTIFY_URL = #{notifyUrl,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ACCOUNT_DATE = #{accountDate,jdbcType=CHAR},
      CLEAR_DATE = #{clearDate,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      FAIL_REASON = #{failReason,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>