<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.pay.dao.PayHistoryRechargeDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.pay.dto.PayHistoryRechargeDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BUSI_ID" property="busiId" jdbcType="CHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="ACCOUNT_TYPE" property="accountType" jdbcType="CHAR" />
    <result column="ORDER_AMT" property="orderAmt" jdbcType="DECIMAL" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR" />
    <result column="CHANNEL_NAME" property="channelName" jdbcType="VARCHAR" />
    <result column="RECHARGE_STYLE" property="rechargeStyle" jdbcType="CHAR" />
    <result column="BANK_TYPE" property="bankType" jdbcType="VARCHAR" />
    <result column="BANK_CARD_ID" property="bankCardId" jdbcType="CHAR" />
    <result column="TRADE_NAME" property="tradeName" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="ACCOUNT_DATE" property="accountDate" jdbcType="CHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="COMPLETE_TIME" property="completeTime" jdbcType="TIMESTAMP" />
    <result column="FAIL_REASON" property="failReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BUSI_ID, CUST_ID, CUST_NAME, ACCOUNT_TYPE, ORDER_AMT, ORDER_STATUS, CHANNEL_NAME, 
    RECHARGE_STYLE, BANK_TYPE, BANK_CARD_ID, TRADE_NAME, REMARK, ACCOUNT_DATE, CREATE_TIME, 
    COMPLETE_TIME,FAIL_REASON
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_PAY_HISTORY_RECHARGE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_PAY_HISTORY_RECHARGE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryRechargeDto" >
    insert into TB_PAY_HISTORY_RECHARGE (ID, BUSI_ID, CUST_ID, 
      CUST_NAME, ACCOUNT_TYPE, ORDER_AMT, 
      ORDER_STATUS, CHANNEL_NAME, RECHARGE_STYLE, 
      BANK_TYPE, BANK_CARD_ID, TRADE_NAME, 
      REMARK, ACCOUNT_DATE, CREATE_TIME, 
      COMPLETE_TIME,FAIL_REASON)
    values (#{id,jdbcType=VARCHAR}, #{busiId,jdbcType=CHAR}, #{custId,jdbcType=VARCHAR}, 
      #{custName,jdbcType=VARCHAR}, #{accountType,jdbcType=CHAR}, #{orderAmt,jdbcType=DECIMAL}, 
      #{orderStatus,jdbcType=CHAR}, #{channelName,jdbcType=VARCHAR}, #{rechargeStyle,jdbcType=CHAR}, 
      #{bankType,jdbcType=VARCHAR}, #{bankCardId,jdbcType=CHAR}, #{tradeName,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{accountDate,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{completeTime,jdbcType=TIMESTAMP},#{failReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryRechargeDto" >
    insert into TB_PAY_HISTORY_RECHARGE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="busiId != null" >
        BUSI_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="custName != null" >
        CUST_NAME,
      </if>
      <if test="accountType != null" >
        ACCOUNT_TYPE,
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME,
      </if>
      <if test="rechargeStyle != null" >
        RECHARGE_STYLE,
      </if>
      <if test="bankType != null" >
        BANK_TYPE,
      </if>
      <if test="bankCardId != null" >
        BANK_CARD_ID,
      </if>
      <if test="tradeName != null" >
        TRADE_NAME,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="accountDate != null" >
        ACCOUNT_DATE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME,
      </if>
      <if test="failReason != null" >
        FAIL_REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        #{busiId,jdbcType=CHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=CHAR},
      </if>
      <if test="orderAmt != null" >
        #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="channelName != null" >
        #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeStyle != null" >
        #{rechargeStyle,jdbcType=CHAR},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankCardId != null" >
        #{bankCardId,jdbcType=CHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountDate != null" >
        #{accountDate,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failReason != null" >
        #{failReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryRechargeDto" >
    update TB_PAY_HISTORY_RECHARGE
    <set >
      <if test="busiId != null" >
        BUSI_ID = #{busiId,jdbcType=CHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="accountType != null" >
        ACCOUNT_TYPE = #{accountType,jdbcType=CHAR},
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT = #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="channelName != null" >
        CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      </if>
      <if test="rechargeStyle != null" >
        RECHARGE_STYLE = #{rechargeStyle,jdbcType=CHAR},
      </if>
      <if test="bankType != null" >
        BANK_TYPE = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="bankCardId != null" >
        BANK_CARD_ID = #{bankCardId,jdbcType=CHAR},
      </if>
      <if test="tradeName != null" >
        TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="accountDate != null" >
        ACCOUNT_DATE = #{accountDate,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="completeTime != null" >
        COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failReason != null" >
       FAIL_REASON= #{failReason,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.pay.dto.PayHistoryRechargeDto" >
    update TB_PAY_HISTORY_RECHARGE
    set BUSI_ID = #{busiId,jdbcType=CHAR},
      CUST_ID = #{custId,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      ACCOUNT_TYPE = #{accountType,jdbcType=CHAR},
      ORDER_AMT = #{orderAmt,jdbcType=DECIMAL},
      ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      CHANNEL_NAME = #{channelName,jdbcType=VARCHAR},
      RECHARGE_STYLE = #{rechargeStyle,jdbcType=CHAR},
      BANK_TYPE = #{bankType,jdbcType=VARCHAR},
      BANK_CARD_ID = #{bankCardId,jdbcType=CHAR},
      TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      ACCOUNT_DATE = #{accountDate,jdbcType=CHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      COMPLETE_TIME = #{completeTime,jdbcType=TIMESTAMP},
      FAIL_REASON = #{failReason,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>