<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ylink.inetpay.cbs.pay.dao.PayRedPDtoMapper" >
  <resultMap id="BaseResultMap" type="com.ylink.inetpay.common.project.pay.dto.PayRedPDto" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="BUSI_ID" property="busiId" jdbcType="VARCHAR" />
    <result column="ACCESS_PARTY_CODE" property="accessPartyCode" jdbcType="VARCHAR" />
    <result column="ACCESS_PARTY_NAME" property="accessPartyName" jdbcType="VARCHAR" />
    <result column="RED_ID" property="redId" jdbcType="VARCHAR" />
    <result column="CUST_ID" property="custId" jdbcType="VARCHAR" />
    <result column="CUST_NAME" property="custName" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="ORDER_AMT" property="orderAmt" jdbcType="DECIMAL" />
    <result column="ORDER_STATUS" property="orderStatus" jdbcType="CHAR" />
    <result column="TRADE_NAME" property="tradeName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="FAIL_REASON" property="failReason" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BUSI_ID, ACCESS_PARTY_CODE, ACCESS_PARTY_NAME,RED_ID, CUST_ID,CUST_NAME, PHONE, ORDER_AMT, ORDER_STATUS, 
    TRADE_NAME, CREATE_TIME,FAIL_REASON
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_PAY_RED
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <select id="selectByBusiId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_PAY_RED
    where BUSI_ID = #{busiId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TB_PAY_RED
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ylink.inetpay.common.project.pay.dto.PayRedPDto" >
    insert into TB_PAY_RED (ID, BUSI_ID, ACCESS_PARTY_CODE, ACCESS_PARTY_NAME,
      RED_ID, CUST_ID, CUST_NAME,PHONE, 
      ORDER_AMT, ORDER_STATUS, TRADE_NAME, 
      CREATE_TIME,FAIL_REASON)
    values (#{id,jdbcType=VARCHAR}, #{busiId,jdbcType=VARCHAR}, #{accessPartyCode,jdbcType=VARCHAR},#{accessPartyName,jdbcType=VARCHAR}, 
      #{redId,jdbcType=VARCHAR}, #{custId,jdbcType=VARCHAR},#{custName,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{orderAmt,jdbcType=DECIMAL}, #{orderStatus,jdbcType=CHAR}, #{tradeName,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP},#{failReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ylink.inetpay.common.project.pay.dto.PayRedPDto" >
    insert into TB_PAY_RED
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="busiId != null" >
        BUSI_ID,
      </if>
      <if test="accessPartyCode != null" >
        ACCESS_PARTY_CODE,
      </if>
      <if test="accessPartyName != null" >
        ACCESS_PARTY_NAME,
      </if>
      <if test="redId != null" >
        RED_ID,
      </if>
      <if test="custId != null" >
        CUST_ID,
      </if>
      <if test="custId != null" >
        CUST_NAME,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT,
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS,
      </if>
      <if test="tradeName != null" >
        TRADE_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="failReason != null" >
        FAIL_REASON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="busiId != null" >
        #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="accessPartyCode != null" >
        #{accessPartyCode,jdbcType=VARCHAR},
      </if>
      <if test="accessPartyName != null" >
        #{accessPartyName,jdbcType=VARCHAR},
      </if>
      <if test="redId != null" >
        #{redId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        #{custName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderAmt != null" >
        #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failReason != null" >
        #{failReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ylink.inetpay.common.project.pay.dto.PayRedPDto" >
    update TB_PAY_RED
    <set >
      <if test="busiId != null" >
        BUSI_ID = #{busiId,jdbcType=VARCHAR},
      </if>
      <if test="accessPartyCode != null" >
        ACCESS_PARTY_CODE = #{accessPartyCode,jdbcType=VARCHAR},
      </if>
      <if test="accessPartyName != null" >
        ACCESS_PARTY_NAME = #{accessPartyName,jdbcType=VARCHAR},
      </if>
      <if test="redId != null" >
        RED_ID = #{redId,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        CUST_ID = #{custId,jdbcType=VARCHAR},
      </if>
      <if test="custName != null" >
        CUST_NAME = #{custName,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="orderAmt != null" >
        ORDER_AMT = #{orderAmt,jdbcType=DECIMAL},
      </if>
      <if test="orderStatus != null" >
        ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      </if>
      <if test="tradeName != null" >
        TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="failReason != null" >
       FAIL_REASON= #{failReason,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ylink.inetpay.common.project.pay.dto.PayRedPDto" >
    update TB_PAY_RED
    set BUSI_ID = #{busiId,jdbcType=VARCHAR},
      ACCESS_PARTY_CODE = #{accessPartyCode,jdbcType=VARCHAR},
      ACCESS_PARTY_NAME = #{accessPartyName,jdbcType=VARCHAR},
      RED_ID = #{redId,jdbcType=VARCHAR},
      CUST_ID = #{custId,jdbcType=VARCHAR},
      CUST_NAME = #{custName,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      ORDER_AMT = #{orderAmt,jdbcType=DECIMAL},
      ORDER_STATUS = #{orderStatus,jdbcType=CHAR},
      TRADE_NAME = #{tradeName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      FAIL_REASON = #{failReason,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
   <select id="list" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TB_PAY_RED
    <where>
    	  <if test="busiId != null and busiId !=''" >
       	   and BUSI_ID = #{busiId,jdbcType=VARCHAR}
	      </if>
	      <if test="accessPartyCode != null and accessPartyCode !=''" >
	       and ACCESS_PARTY_CODE = #{accessPartyCode,jdbcType=VARCHAR}
	      </if>
	      <if test="accessPartyName != null and accessPartyName !=''" >
	       and ACCESS_PARTY_NAME = #{accessPartyName,jdbcType=VARCHAR}
	      </if>
	      <if test="redId != null and redId !=''" >
	       and RED_ID = #{redId,jdbcType=VARCHAR}
	      </if>
	      <if test="custId != null and custId !=''" >
	       and CUST_ID = #{custId,jdbcType=VARCHAR}
	      </if>
	      <if test="custName != null and custName !=''" >
	       and CUST_NAME = #{custName,jdbcType=VARCHAR}
	      </if>
	      <if test="phone != null and phone !=''" >
	       and PHONE = #{phone,jdbcType=VARCHAR}
	      </if>
	      <if test="minOrderAmt != null" >
	       and ORDER_AMT <![CDATA[   >=  ]]> #{minOrderAmt,jdbcType=DECIMAL}
	      </if>
	       <if test="maxOrderAmt != null" >
	       and ORDER_AMT <![CDATA[   <=  ]]> #{maxOrderAmt,jdbcType=DECIMAL}
	      </if>
	      <if test="orderStatus != null and orderStatus !=''" >
	       and ORDER_STATUS = #{orderStatus,jdbcType=CHAR}
	      </if>
	      <if test="tradeName != null and tradeName !=''" >
	       and TRADE_NAME = #{tradeName,jdbcType=VARCHAR}
	      </if>
	      <if test="startCreateTime != null and startCreateTime !=''" >
	       and date_format(CREATE_TIME,'%Y-%c-%d')<![CDATA[   >=  ]]>date_format(#{startCreateTime},'%Y-%c-%d')
	      </if>
	      <if test="endCreateTime != null and endCreateTime !=''" >
	       and date_format(CREATE_TIME,'%Y-%c-%d')<![CDATA[   <=  ]]>date_format(#{endCreateTime},'%Y-%c-%d')
	      </if>
    </where>
   	order by CREATE_TIME desc
  </select>
</mapper>